<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" [attr.aria-invalid]="email.invalid" />
    <small *ngIf="mustDisplayError(email)" class="error">{{ getDisplayError(email) }}</small>
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      [attr.aria-invalid]="password.invalid"
    />
    <small *ngIf="mustDisplayError(password)" class="error">{{ getDisplayError(password) }}</small>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
