<app-async [source$]="launch$" [template]="launchTemplate">
  <ng-template #launchTemplate let-launch>
    <pre>Agency: {{ agency$ | async | json }}</pre>
    <pre>Rocket and Bookings: {{ rocketAndBookings$ | async | json }}</pre>
    <pre>Available Seats: {{ availableSeats$ | async }}</pre>
    <pre>PassengersIds: {{ passengersId$ | async | json }}</pre>
    <ng-container *ngIf="passengersDto$ | async">
      <div *ngFor="let passenger of passengers">
        <pre>{{ passenger | json }}</pre>
      </div>
    </ng-container>
    <h1>{{ launch.mission}}</h1>
    <app-launch-details [launch]="launch"></app-launch-details>
    <app-bookings-form [launch]="launch"></app-bookings-form>
  </ng-template>
</app-async>
