<section>
  <app-list [data]="nextLaunches" [template]="template">
    <h2>Next {{ nextLaunches.length }} Launches</h2>
  </app-list>
</section>
<ng-template #template let-launch>
  <article>
    <header>
      <h3>{{ launch.mission }}</h3>
      <p>{{ launch.destination }}</p>
    </header>
    <div>
      <p>{{ launch.date | date : 'dd MMM yyyy' }}</p>
      <p>{{ launch.pricePerSeat | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
    </div>
    <footer>
      <app-link text="🚀 Go!" [link]="['/', 'launches', launch.id]"></app-link>
    </footer>
  </article>
</ng-template>
