<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!--  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      [attr.aria-invalid]="username.invalid"
    />
  </div> -->
  <app-control [form]="registerForm" formControlName="username" />
  <!-- <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" [attr.aria-invalid]="email.invalid" />
  </div> -->
  <app-control [form]="registerForm" formControlName="email" type="email" />
  <!--   <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      [attr.aria-invalid]="password.invalid"
    />
    <small *ngIf="password.invalid">{{ password.errors | json }}</small>
  </div> -->
  <app-control [form]="registerForm" formControlName="password" type="password" />
  <!--   <div>
    <label for="repeatPassword">Repeat Password:</label>
    <input
      type="password"
      id="repeatPassword"
      formControlName="repeatPassword"
      [attr.aria-invalid]="repeatPassword.invalid"
    />
    <small *ngIf="repeatPassword.invalid">{{ repeatPassword.errors | json }}</small>
  </div> -->
  <app-control [form]="registerForm" formControlName="repeatPassword" type="password" />
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
