<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      [attr.aria-invalid]="username.invalid"
    />
    <small *ngIf="mustDisplayError(username)" class="error">{{ getDisplayError(username) }}</small>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" [attr.aria-invalid]="email.invalid" />
    <small *ngIf="mustDisplayError(email)" class="error">{{ getDisplayError(email) }}</small>
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      [attr.aria-invalid]="password.invalid"
    />
    <small *ngIf="mustDisplayError(password)" class="error">{{ getDisplayError(password) }}</small>
  </div>
  <div>
    <label for="password">Repeat Password:</label>
    <input
      type="password"
      id="repeatPassword"
      formControlName="repeatPassword"
      [attr.aria-invalid]="repeatPassword.invalid"
    />
    <small *ngIf="mustDisplayError(repeatPassword)" class="error">{{
      getDisplayError(repeatPassword)
    }}</small>
  </div>
  <pre>{{ registerForm.value | json }}</pre>
  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
